body {
	height: 100%;
	background-color: #F2FEF0;
}

a {
	color: #333;
}

h1, h2, h3, h4 {
	color: #015e47;
}
.row {
	background-color: #DEEFE9;
	padding: 15px;
}

.add-item-btn {
	float: right;
}

.form-group {
	max-width: 400px;
}

#login-area {
	font-size: 13px;
	color: gray;
	position: absolute;
	top: 20px;
	right: 20px;
}